
.features{
    position:relative;
    // z-index:0
}

.feature-img{
    position:absolute;
    // z-index:1;
    
    height:100vh;
}

.feature-info{
    // z-index:2;
    width:40%;
    position:absolute;
    margin-top: 150px;
    margin-left:50px;
}

.feature-buttons{
    margin:30px 0;
    display:flex;
    button{
        display:flex;
        align-items: center;
        margin-left:0px;
        padding:12px;
        width:120px;
        border-radius: 5px;
        font-weight: 500;
        cursor:pointer;
        font-size:18px;

        &.play{
            background-color: #ff0000;
            color:black;
        }

        &.more{
            background-color: rgb(138, 134, 134,0.6);
            background-color: rgba(14, 13, 13, 1);
            color:white;
            margin-left:12px;
        }

        span{
            margin-left: 5px;
        }
    }

    
}